[Unit]
Description=Montagu Street Library Tuya Sensor Data Download

[Service]
Type=oneshot
ExecStart=/data/www/montagu.street-library.info/fetch_logs
