asgiref
bokeh
cached-property
certifi
charset-normalizer
colorama
contourpy
cssselect
cssutils
Django
django-autocomplete-light
django-debug-toolbar
django_extensions
django_lighttpd_middleware
django-markdownfield @ https://github.com/bernd-wechner/django-markdownfield/archive/refs/heads/master.zip
django-mapbox-location-field
django-reset-migrations
django-url-filter @ https://github.com/bernd-wechner/django-url-filter/archive/refs/heads/master.zip
enum-compat
humanize
idna
isodate
Jinja2
lxml
MarkupSafe
numpy
packaging
pandas
Pillow
psutil
psycopg2
pycryptodome
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
six
sqlparse
tinytuya
titlecase
tornado
tzdata
tzlocal
urllib3
webcolors
webencodings
xyzservices                         