:root {
  --background-shaded: HSL(208, 100%, 93%);
  --background-highlight: HSL(92, 100%, 93%);

  /* From streetlibrary.org.au */
  --background-menu: HSL(119.3,33.3%,51.8%);
  --background-header: HSL(123.5,19.5%,82.9%);
  --background-body: HSL(0,0%,100%);

  --text-header: HSL(123.6,50.6%,32.5%);
  --text-header1: forestgreen;
  --text-header2: hsl(123,50,32);
  --text-header3: rgb(41,125,46);
  --text-header4: #297d2e;
  --text-header5: #383;

  /* Bootstrap's default breakpoints as noted from:
  	 https://getbootstrap.com/docs/5.0/layout/breakpoints/
  	 Not using SASS here so to make the navbar fixed at top on lg
  	 and higher and not on smaller we use CSS vars which alas the
  	 standard BS CSS does not provide.
  */
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

/* The navbar menu button uses --text-header literally as it doesn't support CSS vars */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='HSL(123.6,50.6%,32.5%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  	background-color: transparent !important;
}

/* The media queries don't support CSS vars either  */
@media (min-width: 992px) {
  #headers {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
	z-index: 9999 !important;
  }
}

.navbar {
    background-color: var(--background-header);
}

.navbar h1 {
	margin: 0 0 0 1ch; /* (top, right, bottom, and left) */
	padding-top: 0.67em;
	color: var(--text-header);
}

.row {
	margin-bottom: 1em;
}

.col {
	padding-right: 5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    font-size: 100%;
}

#body {
    margin-left: 3ch;
    margin-right: 3ch;
}

h1 {
	padding-top: 1em;
}

p {
	margin-top:0;
	padding-right: 5%;
}

ul, ol {
	margin-top:0;
	margin-left:1em;
	padding-left:0;
}

li {
	margin-bottom:0;
}

#logo {
	float: left;
	vertical-align: middle;
	height: 70px;
	margin-left: 3ch;
}

#site-title {
	float: left;
    vertical-align: middle;
	padding-top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xxx-large;
    white-space: normal;
}

#headers {
    /*position: fixed;
    top: 0;
    left: 0;*/
    width: 100%;
    z-index: 99;
    padding: 0;
    margin: 0 0 1em 0; /* (top, right, bottom, and left) */
}

#header {
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
    background-color: var(--background-header);
    color: var(--text-header);
}

#heading {
	background-color: var(--background-body);
}

/*
	Headings have browser a specified margin which is transparent and not welcome in fixed headers
	So we convert it to padding here for the heading and subheading of the page
*/
#heading h1 {
	margin: 0 0 0 2ch; /* (top, right, bottom, and left) */
	padding-top: 0.67em;
	padding-left: 10px;
	background-color: var(--background-body);
}

#heading h2 {
	margin: 0;
	padding-top: 0.67em;
	padding-left: 10px;
	background-color: var(--background-body);
}

#subheader {
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
    overflow: hidden;
    background-color: var(--background-body);
}

.headerless {
	padding-top: 1em;
}

.graph {
 	height: 350px;
}

div.Error {
	margin-top: 30px;
	color: red;
}r

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    /* color: blue; */
}

a.field_link:link {
    text-decoration: none;
    color: initial;
}

a.field_link:visited {
    text-decoration: none;
    color: initial;
}

a:hover {
    font-size: 110%;
    color: blue;
}

a:active {
    font-size: 110%;
    color: blue;
}

table {
	width: fit-content !important;
}

th {
	text-align: left
}

td, th {
   padding: 0 3ch 0 0;
}

.bokeh div {
  position: absolute;
  border-radius: 50%;
}


dl {
    display: grid;
    grid-template-columns: min-content auto;
}

dt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2em;
}
