{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{SITE_TITLE}}{% endblock %}

{% block startscript %}{% endblock %}

{% block content %}
<div id="intro" class="row headerless">
	<p>The Montagu Street Library has 4 doors behind each of which rests three deep shelves, for a total of 12 shelves.</p>

	<p>It is situated near the very top of Montagu Street in Mount Stuart, Hobart, Tasmania, Australia.</p>

	<p>The first half went up in January 2022, and the second in November of 2022. Door sensors are installed and have been collecting data since {{data_stats.first_event|date:"l d M Y"}}</p>

	<p>Seating and landscaping has evolved over the same time</p>

	<p><img src="{% static 'img/door_numbers.jpg' %}" height=400px> <img src="{% static 'img/seating.jpg' %}" height=400px></p>

	<p>The doors are number 1 to 4 left to right for convenience and are currently labelled with guidelines as follows:</p>

	<table>
		<tr><th nowrap>Door 1     </th><th nowrap>Door 2 </th><th nowrap>Door 3          </th><th nowrap>Door 4</th></tr>
		<tr><td nowrap>Non Fiction</td><td nowrap>Fiction</td><td nowrap>Fiction         </td><td nowrap>Fiction</td></tr>
		<tr><td nowrap>Non Fiction</td><td nowrap>Fiction</td><td nowrap>Children's Books</td><td nowrap>Family Books</td></tr>
		<tr><td nowrap>Puzzles    </td><td nowrap>Toys   </td><td nowrap>Children's Books</td><td nowrap>Games</td></tr>
	</table>
</div>
{% endblock %}
