{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Montagu Street Library{% endblock %}

{% block startscript %}{% endblock %}

{% block content %}
<div id="intro" class="row headerless">
	<p>The Montagu Street Library has 4 doors behind each of which rests three deep shelves, for a total of 12 shelves.</p>

	<p>It is situated near the very top of Montagu Street in Mount Stuart, Hobart, Tasmania, Australia.</p>

	<p>The first half went up in January 2022, and the second in November of 2022. Door sensors are installed and have been collecting data since {{data_stats.first_event|date:"l d M Y"}}</p>

	<p><img src="{% static 'img/door_numbers.jpg' %}" height=400px>/<p>

	<p>The doors are number 1 to 4 left to right for convenience and are currently labelled with guidelines as follows:</p>

	<table>
		<tr><th>Door 1     </th><th>Door 2 </th><th>Door 3          </th><th>Door 4</th></tr>
		<tr><td>Non Fiction</td><td>Fiction</td><td>Fiction         </td><td>Fiction</td></tr>
		<tr><td>Non Fiction</td><td>Fiction</td><td>Children's Books</td><td>Family Books</td></tr>
		<tr><td>Puzzles    </td><td>Toys   </td><td>Children's Books</td><td>Games</td></tr>
	</table>
</div>
{% endblock %}