{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Montagu Street Library{% endblock %}

{% block startscript %}
	{% for js in histogram_by_hour_of_day.JSfiles %}
		<script src="{{js}}"></script>
	{% endfor %}
	{{histogram_by_per_day.script | safe}}
	{{histogram_by_hour_of_day.script | safe}}
	{{histogram_by_day_of_week.script | safe}}
	{{histogram_by_day_of_month.script | safe}}
	{{histogram_by_month_of_year.script | safe}}
	{{histogram_by_week_of_year.script | safe}}
	{{histogram_by_durations.script | safe}}
	{{histogram_by_quiet_times.script | safe}}
	{{histogram_total_doors_per_visit.script | safe}}
	{{histogram_unique_doors_per_visit.script | safe}}
	{{histogram_by_doors.script | safe}}
{% endblock %}

{% block content %}
<div id="graphs" class="row row-cols-1 row-cols-lg-2 ">
    <div class="col-12" style="width: 100%">
		<h1>Library Utilisation Trends</h1>
	</div>

    <div class="col">
		<h2>Visits per day</h2>
		<div class="graph">{{histogram_by_per_day.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Time of day of visits</h2>
		<div class="graph">{{histogram_by_hour_of_day.div | safe}}</div>
	</div>

	<div class="col">
		<h2>Visit durations</h2>
		<div class="graph">{{histogram_by_durations.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Quiet times (between visits)</h2>
		<div class="graph">{{histogram_by_quiet_times.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Day of week of visits</h2>
		<div class="graph">{{histogram_by_day_of_week.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Day of month of visits</h2>
		<div class="graph">{{histogram_by_day_of_month.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Month of year of visits</h2>
		<div class="graph">{{histogram_by_month_of_year.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Week of year of visits</h2>
		<div class="graph">{{histogram_by_week_of_year.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Total Door Openings in a Visit</h2>
		<div class="graph">{{histogram_total_doors_per_visit.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Unique Door Openings in a Visit</h2>
		<div class="graph">{{histogram_unique_doors_per_visit.div | safe}}</div>
	</div>

    <div class="col">
		<h2>Total Observed Door Popularity (Opening Counts)</h2>
		<div class="graph">{{histogram_by_doors.div | safe}}</div>
	</div>
</div>
{% endblock %}