<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="NONE,NOARCHIVE" />

	{% load static %}
	{% load django-rich-views %}
	<title>{% block title %}{% endblock %}</title>

	{% include "django-rich-views/include/CDN_libs.html" %}

    <!-- DRV CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'django-rich-views/css/default.css' %}" />

    <!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />

	<link rel="icon" href="{% static 'img/favicon-100x100.png' %}" sizes="32x32">
	<link rel="icon" href="{% static 'img/favicon-340x340.png' %}" sizes="192x192">

	{% block styles %}{% endblock %}
	{% block startscript %}{% endblock %}
</head>

<body class="body">
	<!-- Container -->
    <div id="headers">
		<div id="header">
			<nav id="navbar" class="navbar navbar-expand-lg nav-pills static-top">
				<div class="navbar-brand">
					<a href="/">
						<img id="logo" src="{% static 'img/logo.png' %}" class="d-inline-block align-top" alt="" width=283px height=70px>
					</a>
				    <h1 id="site-title">{{SITE_TITLE}}</h1>
					<div class="clearfix"></div>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="navbar-nav">
						{% for nav_target in menu_items %}
							<li class="nav-item">
								<a class="nav-link{%active nav_target%}" data-toggle="pill" href="{% url nav_target %}">{{nav_target|title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div id="body" class="container-fluid">
	    <!-- MESSAGES -->
	    {% block messages %}
	        {% if messages %}
		    <div id="messages" class="messages">
		        <ul class="messagelist">
		        	{% for message in messages %}
		          		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
		        	{% endfor %}
		        </ul>
	        </div>
	        {% endif %}
	    {% endblock messages %}

	    <!-- CONTENT -->
	    <div id="content" class="content">
	        {% block content %}{% endblock %}
	        <br class="clear" />
	    </div>
	    <!-- END Content -->

	    <!-- FOOTER -->
	    {% block footer %}
		    <div id="footer">{{footer}}</div>
	    {% endblock %}
	</div>
</body>
{% block endscript %}{% endblock %}

<script>
	function place_body() {
		const height = getComputedStyle(document.getElementById("navbar")).height;
		const pos = getComputedStyle(document.getElementById("headers")).position;
		if (pos == "fixed") document.getElementById("body").style.marginTop = height;
	}

	// Monitor the headers div for size changes and respond by moving the content div
	// Stops body text rendering or scrolling under the header
	// This triggers on page load too for the initial render
	(new ResizeObserver(place_body)).observe(document.getElementById("headers"));
</script>

</html>
